<div> 
    <h3 class="">Update blog:</h3>
    <form class="blog-form">
        <div class="title-div">
            <label for="blogTitle">Blog Title:</label>
            <input class="blog" type="text" id="blog-title" name="blogTitle">
        </div>
        <div class="body-div">
            <label for="blogBody">Blog Body:</label>
            <textarea class="blog" type="text" id="blog-body" name="blogBody" rows="4"></textarea>
        </div>
        <div>
            <button type="submit" class="blog">create</button>
        </div>
    </form>
</div>
<script src="/js/update.js"
