<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FMy Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    <header class="">
      <h1>
        <span role="img"><img class="logo" src="/img/dragon-ball-x-one-piece-logo.png"></span><a href="/">Anime Blog</a>
      </h1>
      <nav>
      {{#if logged_in}}
      <a href="/profile">profile</a> | 
      <button class="" id="log-btn">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
      </nav>
    </header>
    <main class="">
      {{{ body }}}

    </main>
    <footer>

    </footer>
  </div>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>
